@media (max-width: 1200px) {


    .experience-content p, .experience-content ul {
        font-size: 90%;
    }

    .date {
        font-size: 80% !important;
    }

    .experience-content h2 {
        font-size: 150% !important;
    }

    
}